<h2>temp02 compoenent</h2>
<table border="1">
  <tr>
    <th *ngFor="let col of pivotData.colNames">
      {{col}}
    </th>
  </tr>
  <tr *ngFor="let dataRow of pivotData.rows">
    <td *ngFor="let cellValue of dataRow">
      {{cellValue}}
    </td>
  </tr>
</table>
<div>lstColHdrVal: {{lstColHdrVal}}</div>
<div>lstRowHdrVal: {{lstRowHdrVal}}</div>
<hr/>
<div *ngIf="pivot != null">colHdr[0]: {{pivot.setting.colHdr[0]}}</div>
<div>sPivot: {{sPivot}}</div>
<hr/>
<div>sDicPivotData: {{this.sDicPivotData}}</div>
<hr/>
<a href="http://localhost:5000/mdl01/path4">mdl01/path4</a><br/>
<a href="http://localhost:5000/mdl01/path5">mdl01/path5</a>

