<h2>temp03 component</h2>

<button id="button3" (click)="button3_Click()">get pivot</button><br/>
<div *ngIf="pivot">
  <div>
    <div>column header</div>
    <div id="puthere" (dragover)="f_dragover($event)" (drop)="f_drop($event)">(put here)</div>
    <table border="1">
      <tr *ngFor="let colName of pivot.setting.colHdr">
        <td id="{{colName}}">{{colName}}</td>
      </tr>
    </table>
  </div>
  <div (dragover)="hdr_Dragover($event)" (drop)="colHdr_Drop($event)">
    pivot.setting.colHdr:
    <span *ngFor="let colHdr of pivot.setting.colHdr; index as idx">
      {{colHdr}} <span (click)="colHdrRemove_Click(idx)"> [X]</span>, 
    </span>
  </div>
  <div (dragover)="hdr_Dragover($event)" (drop)="rowHdr_Drop($event)">
    pivot.setting.rowHdr:
    <span *ngFor="let rowHdr of pivot.setting.rowHdr; index as idx">
      {{rowHdr}}, <span (click)="rowHdrRemove_Click(idx)"> [X]</span>
    </span>
  </div>
  fact column
  <table id="tbl_{{dataSet.fact.table}}" border="1">
    <thead>
    <tr><th><span (click)="tblHdr_Click(pivot.dataSet.fact.table)">{{pivot.dataSet.fact.table}}</span></th></tr>
  </thead>
  <tbody>
    <tr *ngFor="let col of pivot.dataSet.fact.columns">
      <td><span id="{{col.colName}}" draggable="true" (dragstart)="column_Dragstart($event)">{{col.colName}}</span></td>
    </tr>
  </tbody>
  </table>
  <table id="tbl_{{dataSet.dimensions[0].table}}" border="1">
    <thead>
      <tr><th><span (click)="tblHdr_Click(pivot.dataSet.dimensions[0].table)">{{pivot.dataSet.dimensions[0].table}}</span></th></tr>
    </thead>
    <tbody>
    <tr *ngFor="let col of pivot.dataSet.dimensions[0].columns">
      <td id="{{col.colName}}" draggable="true">{{col.colName}}</td>
    </tr>
  </tbody>
</table>

  <div>pivot.dataSet.fact.columns.length= {{pivot.dataSet.fact.columns.length}} </div>
  <div>pivot.dataSet.fact.columns[1].colName= {{pivot.dataSet.fact.columns[1].colName}} </div>
</div>

<div>sPivot: {{sPivot}}</div>

<button id="button2" (click)="button2_Click()">get columns</button><br/>
<div>aryColumn: {{aryColumn}}</div>

<button id="button1" (click)="button1_Click()">put</button>
<div>sPivot: {{sPivot}}</div>
<hr/>

<table border="1" *ngIf="pivotData">
  <tr>
    <th *ngFor="let col of pivotData.colNames">
      {{col}}
    </th>
  </tr>
  <tr *ngFor="let dataRow of pivotData.rows">
    <td *ngFor="let cellValue of dataRow">
      {{cellValue}}
    </td>
  </tr>
</table>
  