<h2>temp03 component</h2>

<button id="button3" (click)="button3_Click()">get pivot</button><br/>
<div *ngIf="pivot">
  <div>
    <div>column header</div>
    <div dropzone="copy" id="puthere" (dragover)="f_dragover($event)" (drop)="f_drop($event)">(put here)</div>
    <table border="1">
      <tr *ngFor="let colName of pivot.setting.colHdr">
        <td id="{{colName}}">{{colName}}</td>
      </tr>
    </table>
  </div>

  fact column
  <table border="1">
    <tr><th>{{pivot.dataSet.fact.table}}</th></tr>
    <tr *ngFor="let col of pivot.dataSet.fact.columns">
      <td id="{{col.colName}}" draggable="true" (dragstart)="f_dragstart($event)">{{col.colName}}</td>
    </tr>
  </table>
  <table border="1">
    <tr><th>{{pivot.dataSet.dimensions[0].table}}</th></tr>
    <tr *ngFor="let col of pivot.dataSet.dimensions[0].columns">
      <td id="{{col.colName}}" draggable="true">{{col.colName}}</td>
    </tr>
  </table>

  <div>pivot.dataSet.fact.columns.length= {{pivot.dataSet.fact.columns.length}} </div>
  <div>pivot.dataSet.fact.columns[1].colName= {{pivot.dataSet.fact.columns[1].colName}} </div>
</div>

<div>sPivot: {{sPivot}}</div>

<button id="button2" (click)="button2_Click()">get columns</button><br/>
<div>aryColumn: {{aryColumn}}</div>

<button id="button1" (click)="button1_Click()">put</button>
<div>sPivot: {{sPivot}}</div>
<hr/>

<table border="1" *ngIf="pivotData">
  <tr>
    <th *ngFor="let col of pivotData.colNames">
      {{col}}
    </th>
  </tr>
  <tr *ngFor="let dataRow of pivotData.rows">
    <td *ngFor="let cellValue of dataRow">
      {{cellValue}}
    </td>
  </tr>
</table>
  