
# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

.ionide/*

# F# ASP.NET

WorkConsole/bin
WorkConsole/obj

WrioLogic/bin
WrioLogic/obj

WrioTests/bin
WrioTests/obj

WrioWebapi/bin
WrioWebapi/obj
